<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	
	<head>
		
		<title>mOSAIC WebUI</title>
		
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
		
		<script type="text/javascript" src="/static/jquery.js"></script>
		
		<style type="text/css">
			
			body {
				padding-top : 60px;
			}
			
			.fade {
				opacity : 0.33;
			}
			
			.fade-trigger:hover .fade, .fade-trigger.fade:hover {
				opacity : 1.00 !important;
			}
			
			.shy {
				display : none;
			}
			
			.shy-trigger:hover li.shy, .shy-trigger.shy:hover {
				display : list-item !important;
			}
			
			a.btn.tiny, input.btn.tiny {
				padding : 4px !important;
			}
			
			.tiny td, .tiny th {
				padding : 4px !important;
			}
			
			.center, .center th, .center td {
				text-align : center !important;
				vertical-align : middle !important;
			}
			
			div.sidebar {
				height : 0px;
			}
			
			html:before {
				content : "";
				position : absolute;
				width : 100%;
				height : 100%;
				background-image : url(/static/cluster.svg);
				background-repeat : no-repeat;
				background-position : right bottom;
				background-size : auto auto;
				opacity : 0.05;
			}
			
		</style>
		
		{+layout__extra_head/}
		
	</head>
	
	<body>
		
		<div class="topbar">
			<div class="topbar-inner">
				<div class="container-fluid">
					<a class="brand" href="http://mosaic-cloud.eu/">mOSAIC</a>
					<ul class="nav">
						<li><a href="/">WebUI</a></li>
						<li><a href="/console">Console</a></li>
						<li><a href="/log">Log</a></li>
						<li><a href="/about">About</a></li>
					</ul>
					<ul class="nav secondary-nav pull-right">
						{?return}<li><a href="{return}">Return</a></li>{/return}
						<li><a href="javascript:window.location.reload()">Refresh</a></li>
						<li><a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml11" alt="XHTML" height="14px" /></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			
			<div class="sidebar">
				
				<div class="center">
					<a href="http://mosaic-cloud.eu/"><img src="/static/mosaic-logo-small.png" alt="mOSAIC" height="80px" /></a>
				</div>
				
				<div class="well fade fade-trigger shy-trigger">
					<h5>Components</h5>
					<ul>
						<li><a href="/processes?return={returnStacked}">List</a></li>
						<li><a href="/process/create?return={returnStacked}">Create</a>
							<ul>
								{#quickCreate}
									<li class="shy"><a href="/process/create?type={type|uc}&return={returnStacked}">{name}</a></li>
								{/quickCreate}
							</ul>
						</li>
						<li><a href="/process/call?return={returnStacked}">Call</a></li>
						<li><a href="/process/cast?return={returnStacked}">Cast</a></li>
						<li><a href="/process/stop?return={returnStacked}">Stop</a></li>
					</ul>
				</div>
				
				<div class="well fade fade-trigger shy-trigger">
					<h5>Cluster</h5>
					<ul>
						<li><a href="/cluster/nodes?return={returnStacked}">Nodes</a></li>
						<li><a href="/cluster/ring?return={returnStacked}">Ring</a></li>
					</ul>
				</div>
				
			</div>
			
			<div class="content">
				{+blocks__main_panel/}
			</div>
			
		</div>
		
	</body>
	
</html>
